/*GENERAL*/
html{
    margin: 0 auto;
}
body{
	background: #B1D7E0;
    color:#000;
	font-size:12pt;
	line-height:1.5;
	font-family:"Arial", Verdana, Helvetica, sans-serif;
}
a{
	text-decoration:none;	
}
a:link, a:visited{
	color: #CF5C3F;
	text-decoration: none;
}
a:hover, a:active{
	color: #fff;
	text-decoration: none;
}
.container{
    margin-bottom: 60px;
}

/*NAVEGACION*/
header{
    margin-top: 30px;
}
header nav{
    max-width: 100%;
    background: #FFF;
}
header nav ul{
    list-style: none;
    overflow: hidden;
}
header nav ul li{
    float: right;
}
header nav ul li a{
    display: block;
    padding: 20px;
    margin: 0 auto;
    text-decoration: none;
}
header nav ul li a:link{
    color: #5eb0f6;
    text-decoration: none;
}
header nav ul li a:hover, a:active{
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
}
.secNav{
    background-color: #B1D7E0;
    padding:5px 0px 5px 0px;
}

.secNav ul{
    list-style: none;
    overflow: hidden;
}
.secNav ul li{
    display: inline-block;
}
.secNav ul li a{
    display: block;
    padding: 3px;
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid #ccc;
}
.secNav ul li a:link{
    background: #ff6600;
    color: #FFF;
    text-decoration: none;
}
.secNav ul li a:hover{
    background: #5eb0f6;
    color:#FFF;
    text-decoration: none;
}

/*WIDGETS AREA*/

section{
    background: #F8E9A8;
    padding: 40px;
}
.widget{
    background: #E8CCB6;
    color: #896E59;
    margin-bottom: 20px;
    padding:10px;
    border: 1px solid #c7b3a4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.widget h1{
    font-size: 3rem;
    border-bottom: 1px solid #896e59;
}
.widget h2{
    font-size: 1.2rem;
    font-style: italic;
    color: #403023;
}
.wiLinks{
    background: #F7E5D7;
    padding: 15px;
}

/*footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #1d2934;
  text-align: center;
  padding: 15px;
  font-size: 1.3rem;
  color: #FFF;

}